/*
* General css
*/
body{
    padding:0;
    margin:0;
    background-color: rgb(252,252,252);
    min-width:800px;
    font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
}
a{
    color:inherit;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 70, 150);
}

#main {
    width:100%; max-width:1000px;
    margin:5px auto;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.box{
    display: block;
    box-sizing: border-box;
    border:solid 1px rgb(220,220,220);
    border-radius: 3px;
    background-color: white;
    padding:10px;
    color: rgb(150,150,150);
    position: relative;
    margin-bottom: 30px;
}

/*
* Headings
*/
h1{
    font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size:48px;
    padding:20px 5px; margin:20px 0 0 0;
    color: Black;
    box-sizing: border-box;
}

h3{
    margin:0 0 5px 0; padding:10px 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

/*
* Rating box
*/
#rating{
    text-align: center;
}
#rating div.widget-container{
    width:30%; display: inline-block; text-align: center;
}
#rating div.widget{
    display: inline-block;
    line-height: 30px;
    width: 160px;
    margin: 0 10px;
    height: 30px;
    padding-top: 124px;
    vertical-align: middle;
    background-image: url(icons/speedometer.png);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}
#rating div.widget div.pointer{
    display:block;
    width:27px; height:134px;
    position: absolute; left:79px; top:85px;
    margin-top:-67px; margin-left:-13.5px;
    background-image: url(icons/pointer.png);
    transition: transform 1.5s;
}

/*
* Featured movies
*/
#featured{
    padding:20px 0;
    /*box-shadow: inset 2px 0px 20px 0px rgba(0,0,0,1);*/
    background-color: black;
    overflow-y: hidden; overflow-x:scroll;
    position: relative;
}
#featured-container{
    height:500px;
}
#featured div.movie{
    width:300px; height:450px; float: left;
    margin: 0 10px;
    position:relative;
}
#featured div.movie div.background{
    position:absolute; top:0; left:0; height: 100%; width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-reflect: below 10px -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 60px);
}
#featured div.movie:hover{
    box-shadow: 0px 0px 5px white;
    cursor:pointer;
}
#featured div.movie span.title{
    position:absolute;
    bottom:0; left:0; width:100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 10px 0;
    display:none;
}

/*
* Details
*/
#details{
    float:right;
    width:300px;
    min-height:500px;
}
#details-overview{
    font-size: 13px;
    text-align: justify;
}
#details-poster{
    width:100%;
    display: block;
    border-radius: 3px;
}

/*
* Toggler
*/
div.toggler{
    height:32px; line-height:32px;
    width:56px; margin: auto;
    position: relative;
}
div.toggler a.left, div.toggler a.right{
    display: inline-block;
    position:absolute;
    top:0px;
    padding:0 10px;
    cursor: default;
}
div.toggler a.left{
    right:100%;
    margin-right:-28px;
    padding-right:38px;
    text-align: right;
}
div.toggler a.right{
    left:100%;
    margin-left:-28px;
    padding-left:38px;
    text-align: left;
}
div.toggler:before{
    content:'';
    position:absolute; left:50%; top:0px; height:100%; width:100%;
    margin-left:-50%;
    background-color: rgb(0, 70, 150);
    border-radius: 20px;
    box-sizing: border-box;
}
div.toggler:after{
    content:'';
    position:absolute; top:0px; height:32px; width:32px;
    border:solid 3px rgb(0, 70, 150);
    border-radius: 100%;
    box-sizing: border-box;
    background-color: white;
}
div.toggler-left:after{
    left:0%;
}
div.toggler-right:after{
    right:0%;
}

/*
* Figures
*/
div.figure-box div.figure{
    text-align: center;
    font-size:40px;
    color:rgb(0,70,150);
    font-weight: 300;
    margin-bottom: 10px;
}
div.figure-box sup{
    font-size:20px;
}

/*
* Maps
*/
#map{
    height:200px;
}

/*
* Tweets feed
*/
#feed{
    margin-right:330px;
    min-height:980px;
}

/*
* Tweet
*/
div.tweet{
    padding-left:68px; min-height:70px;
}
div.tweet img.avatar{
    position:absolute;
    top:10px; left:10px;
    width:48px; height:48px;
    border-radius: 5px;
}
div.tweet div.user{
    color:rgb(0,70,150); font-weight: bold;
}
div.tweet div.user a{
    font-weight: normal;
    color:rgb(200,200,200);
    padding:5px;
}
div.tweet div.user a:hover{
    color:inherit;
}
div.tweet div.text{
    font-size:14px;
}
div.tweet div.metadata{
    position:absolute; top:100%; left:0;
    width:100%;
    height:20px;
    line-height:20px;
    font-size:11px;
    color:rgb(200,200,200);
}
div.tweet div.metadata img{
    height:16px; padding:2px; display: block; float: left; margin:0 2px;
}
#load-more-tweets{
    line-height:30px; text-align: center;
}
#load-more-tweets *{
    display: inline-block;
    padding: 3px 10px;
    border:solid 1px rgb(220,220,220);
    color: rgb(200,200,200);
    border-radius: 3px;
    background-color: white;
    cursor:pointer;
}
#load-more-tweets a:hover{
    border-color:rgb(0,70,150);
    color:rgb(0,70,150);
}
div.notTop{
    display: none;
}

/*
* Loading screen
*/
div.loadingScreen{
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background-color: white;
    opacity: 0.8;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
div.loadingScreen img{
    position:absolute; top:50%; left:50%;
    width:200px; height:200px;
    margin:-100px;
}

/*
* Footer
*/
#footer{
    font-size:11px;
    padding:10px;
    margin-bottom: 30px;
    text-align: justify;
}